<h1> Dates </h1>
<form action = '/submit_post' method="post">
    <label for="start_date"> Start Date</label>
    <input id="start_date" type="text" name="sighting[start_date]">
    <label for="end_date"> End Date</label>
    <input id="end_date" type="text" name="sighting[end_date]">
    <input type="submit" value="Submit Dates" />
</form>
